body {
	background-color: #E3FFFF;
}

.button {
	display: inline-block;
	border-radius: 19%; /* 角丸       */
	font-size: 8pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 5px 5px; /* 余白       */
	background: #6091d3; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	border: 2px solid #6091d3; /* 枠の指定 */
}

.button:hover {
	color: #6091d3; /* 背景色     */
	background: #ffffff; /* 文字色     */
}

.h1 {
	font: small-caption;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 800px;
}

.tweet-box {
	width: 780px;
	height: 56px;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 365px;
	text-align: left;
	padding: 0.5em 1em;
	margin: 2em 0;
	font-weight: bold;
	color: #6091d3; /*文字色*/
	background: #FFF;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
	margin-left: 15px;
}

.
.message {
	background-color: #ECECFF;
	font: small-caption;
}

.message .title {
	padding: 0.1em 0.1em;
	margin: 0.5em 0;
	font: small-caption;
	font-size: 15px;
	vertical-align: top;
	color: #1f1f1f; /*文字色*/
	background: #FFF;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
	width: 380px;
	margin-left: 15px;
}

.message .text {
	padding: 0.1em 0.1em;
	margin: 0.5em 0;
	font: small-caption;
	font-size: 15px;
	vertical-align: top;
	height: 200px;
	color: #1f1f1f; /*文字色*/
	background: #FFF;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
	width: 380px;
	margin-left: 15px;
}

.message .category {
	padding: 0.1em 0.1em;
	margin: 0.5em 0;
	font: small-caption;
	font-size: 15px;
	vertical-align: top;
	color: #1f1f1f; /*文字色*/
	background: #FFF;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
	width: 380px;
	margin-left: 15px;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
	width: 380px;
	margin-left: 15px;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
	font: small-caption;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.balloon4 {
	position: relative;
	margin: 1em 0 1em 40px;
	padding: 15px;
	background: #ffffff;
	border-radius: 30px;
	border: solid 3px #6091d3;
	whidth: 400px;
	max-width: 329px;
}

.balloon4:before {
	content: "";
	position: absolute;
	left: -38px;
	width: 13px;
	height: 12px;
	bottom: 0;
	background: #6091d3;
	border-radius: 50%;
}

.balloon4:after {
	content: "";
	position: absolute;
	left: -24px;
	width: 20px;
	height: 18px;
	bottom: 3px;
	background: #6091d3;
	border-radius: 50%;
}

.balloon4 p {
	margin: 0;
	padding: 0;
	font: small-caption;
	font-size: 13px;
	color: #1f1f1f; /*文字色*/
}

textarea {
	min-width: 380px;
	min-height: 100px;
	margin-left: 15px;
	resize: none;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
}



input.sample4{
width:40px;
height:30px;
}